<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Les Meilleur Produit</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Glyphosate</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Le glyphosate est un herbicide non sélectif largement utilisé pour éliminer les mauvaises herbes. Il agit en inhibant une enzyme essentielle à la croissance des plantes, entraînant leur mort. Cependant, il est également controversé en raison de ses effets potentiels sur l'environnement et la santé humaine.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pyréthrines</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Les pyréthrines sont des insecticides d'origine végétale dérivés des fleurs de chrysanthèmes. Elles sont souvent utilisées pour contrôler les insectes nuisibles dans les jardins et les cultures. Les pyréthrines sont considérées comme relativement sûres pour une utilisation domestique en raison de leur décomposition rapide dans l'environnement..</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Imidaclopride</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">L'imidaclopride est un insecticide systémique utilisé pour lutter contre les insectes ravageurs tels que les pucerons, les aleurodes et les coléoptères. Il agit en perturbant le système nerveux des insectes. Cependant, il est également critiqué pour ses effets néfastes sur les pollinisateurs tels que les abeilles..</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Cuivre</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Le cuivre est un fongicide utilisé pour contrôler les maladies fongiques sur les plantes. Il agit en détruisant les spores et en inhibant la croissance des champignons. Le cuivre est un produit phytosanitaire couramment utilisé en agriculture biologique, bien que son utilisation excessive puisse entraîner une accumulation de cuivre dans le sol.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Faite
                        <br />
                        Partie
                        <br />
                        De L'aventure
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>